*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #3498db;
    transition: background-color 0.5s ease-in-out;
}

.container {
    text-align: center;
    color: #fff;
}

input, button {
    margin-top: 10px; 
    border: none;
    border-radius: 10px;
    padding: 10px; /* Increase padding for input boxes */
    font-size: 25px;
    box-sizing: border-box; /* Include padding and border in the total width/height */
}

/* Adjust the width of the input boxes to match the buttons */
input[type="number"] {
    text-align: center;
    width: 230px; /* Adjust the width as needed */
}

.hidden {
    display: none;
}
